@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}

@media screen and (min-width: 1024px) {
  *::-webkit-scrollbar {
    width: 8px;
    height: 6px;
  }
  *::-webkit-scrollbar-track {
    width: 8px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.1);
  }
  *::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.3);
  }
  *::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.4);
  }
  *::-webkit-scrollbar-thumb:active {
    background: rgba(0, 0, 0, 0.5);
  }
}

/* @media screen and (min-width: 768px) {
  .swiper-scrollbar {
    display: none;
  }
} */

.swiper {
  height: 520px;
}

@media screen and (max-width: 767px) {
  .swiper {
    height: 480px;
  }

  .swiper-scrollbar {
    display: block;
  }
}

.swiper-scrollbar {
  background-color: #b7b7b7 !important;
  opacity: 1 !important;
}

.swiper-scrollbar-drag {
  background-color: #f7f7f7 !important;
}
